/**
 *
 * MyBB: Topaz - Admin CP
 *
 * Filename: login.css
 *
 * Style Author: Vintagedaddyo
 *
 * V Site: http://community.mybb.com/user-6029.html
 *
 * MyBB Version: 1.8.x
 *
 * Style Version: 1.1
 * 
 */

html,
button,
input,
select,
textarea {
    color: #282C2D;
    word-wrap: break-word;
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #3498db;
}

::-moz-selection {
    color: #fff;
    text-shadow: none;
    background: #3498db;
}

body {
    margin: 0;
    font: 16px/26px "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
    background: #444444 url('images/bk-z.jpg') repeat;
    display: flex;
    height: 100vh;
    color: #000;  
}

input,
select,
textarea,
button {
    font: 16px "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
}

a:link,
a:visited {
    color: #666;
    text-decoration: none;
}

a:hover,
a:active {
    color: #222;
}

a:focus,
button:focus {
    outline: 0;
}

#container {
    width: 90%;
    max-width: 500px;
    float: none;
    margin: 100px auto;
}

#logo h1 {}

#header h1 a {
    color: transparent;
}

#header a {
    background: url(./images/logo_topaz.png) 10px center no-repeat;
    height: 82px;
    display: block;
    color: #bbb;
    line-height: 40px;
    padding-left: 50px;
    border-radius: 0px;
}

#header h1 {
    margin: 0;
}

#content {
    margin: 10px 0;
    background: #b4b4b4 url('images/bk-v.jpg') repeat;
    border: 2px solid #199EB9;
    border-radius: 3px;

}

#content h2 {
    background: #199EB9 url('images/cellpic3.gif') repeat-x top left;
    border-bottom: 1px solid #bbb;
    color:#fff;
    margin: 0;
    padding: 8px;
    font-size: 16px;
}

.form_container {
    padding: 5px 15px 15px 15px;
}

#content p.submit {
    background: #9B9B9B url('images/bk-w.jpg') repeat;
    border-top: 1px solid #bbb;
    padding: 15px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content>p {
    margin: 10px 15px 0 15px;
    padding: 0 0 8px;
    border-bottom: 1px solid #bbb;
}

input[type="submit"] {
    background: #199EB9 url('images/cellpic3.gif') repeat-x top left;
    color: #fff;
    font-weight: bold;
    display: inline-flex;
    font-size: 0.9em;
    line-height: 26px;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #ddd;    
    cursor: pointer;    
}

.label {
    font-weight: bold;
    padding: 5px 0;
}

.text_input {
    border: 1px solid #999;
    background: #fff;
    padding: 5px 6px;
    width: 100%;
    font-size: 16px;
    outline: 0;
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #bbb;
}

input.text_input:focus {
    border: 1px solid #199EB9;
}

#content #message {
/*    background: #9B9B9B url('images/bk-w3.jpg') repeat; */
/*    border: 2px solid #bbb; */
    padding: 10px 12px;
    margin: 10px 15px;
    font-size: 0.9em;
    border-radius: 3px;
    border: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    opacity: .5;  
}

#content #message.success {
    background-color: #68c000 !important;
    border: 2px solid green;
    color: #fff;
}

.alert,
#content #message.error {
    background-color: #eb5257 !important;
    border: 2px solid red;
    color: #fff;
}

.alert {
    margin: 15px;
    padding: 15px;
    border-radius: 3px;
}